.SignIn-container {
  position: absolute;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;

  background-color: #212b34;
  display: flex;
  align-items: center;
  justify-content: center;

}

.SignIn-button {
  border: 0px solid #000;
  border-radius: 8px;
}
